name: ci build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
    - name: Checkout latest code
      uses: actions/checkout@v4.2.2
      with:
        ref: master
        clean: true
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive

    - name: Build
      run: |
        export DEVKITPRO=/opt/devkitpro
        make all
      shell: bash

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        path: ovlSysmodules.ovl
